NEXT_PUBLIC_SUPABASE_URL=https://azeisrxigwbyrkquwbwe.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ZEbO23s4nn5-JJIwXShXvA_Pqp9BJb8
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6ZWlzcnhpZ3dieXJrcXV3YndlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDg4MzYzNywiZXhwIjoyMTAwNDU5NjM3fQ.p6pF4bngJ6iTjuXXI4v8Nxhh2Yrde60sEo-9j-xIWUQ